@model SGW.Portal.Models.EntityFieldModel
@{    Layout = null;
      string systemclass = "";
      if (!Model.UserDefined)
      {
          systemclass = "systemdefined";
      }
}

<tr id="tr_@Model.Name" class="@systemclass">
    <td style="width:350px;">@Model.Name</td>
    <td><strong>@Model.Type</strong></td>
        @if (Model.EditMode && Model.UserDefined)
        {
        <td>
                @Html.ActionLink("Remover",
                            "RemoveEntityField",
                            "Entity",
                            new { },
                            new { onclick = "removeEntityField('" + @Model.Name + "'); return false;" })
        </td>
        }
        else if (!Model.UserDefined)
        {
            <td>Campo não editavel.</td>
        }
        else
        {
            <td></td>
        }
</tr>
